.Tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  width: 500px;
}

.searchPanel input {
  width: 300px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  width: 500px;
}

.searchPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: lightslategrey;
  height: 100px;
  margin-bottom: 30px;
  width: 100%;
}
