.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostCardCreateBtn {
  width: 120px;
  padding: 10px 0;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  color: white;
  margin: 0 5px;
  margin-left: auto;
}

.PostCardCreate {
  background-color: rgb(57, 202, 118);
}

.PostCardCreate:hover {
  background-color: rgb(26, 165, 84);
  cursor: pointer;
  transition: all .3s ease;
}

.input {
  margin-bottom: 20px;
}