.PostCard {
  height: auto;
  width: 700px;
  border: 1px solid gray;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.PostCardTitle {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.PostCardDescription {
  margin: 10px 0;
}

.BtnGroup {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.PostCardBtn {
  width: 120px;
  padding: 10px 0;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  color: white;
  margin: 0 5px;
}

.PostCardDelete {
  background-color: lightcoral;
}

.PostCardDelete:hover {
  background-color: firebrick;
  cursor: pointer;
  transition: all .3s ease;
}